.employee-navbar {
    background: linear-gradient(to right,#370063 5%, #000000 100%);
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
    list-style-type: none;

    
    .navbar-logo {

        .navbar-item {
            .navbar-title {
              font-size: 65px;
      
              .nav-text {
                .logo1 {
                  
                  color: #32b473;
                  font-family: 'rocket';
                }
                .logo2 {
                  color: #51ed6e;
                  font-family: 'rocket';
                }
              }
            }
          }
    }

    .navbar-elements {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        padding-top: 7px;
        padding-right: 5px;
        font-size: 35px;
        align-items: center;
        font-family: 'rocket';


        .navbar-item {

            /* .nav-text {

            } */
            .nav-new-route {
                flex-basis: 15%;
                text-align: center;
                list-style-type: none;
                background-color: limegreen;
                padding: 10px 10px 5px 15px;
                margin: 0 5px;
                border-radius: 100px;
            }
        }
    }

    .navbar-logout {
        display: flex;
        align-items: center;
        font-size: 35px;
        border-radius: 100px;
        padding-top: 3px;
        margin-right: 10px;
    }


    a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'rocket';
    letter-spacing: 1.75px;
      }
      
      a:hover {
        color: #51ed6e;
      }
}