.animation {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url('https://lumiere-a.akamaihd.net/v1/images/star-wars-backgrounds-25_bc15ec98.jpeg');
  /* This sets allows us to transform the text on a 3D plane, and is somewhat a magic number */
  perspective: 400px;
  /* The rest is totally up to personal styling preferences */
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  text-align: center;
  overflow: hidden;
  animation: fadeIn 0.7s ease-in-out forwards;

}


.crawl {
  /* Position the element so we can adjust the top property in the animation */
  position: relative;
  /* Making sure the text is fully off the screen at the start and end of the animation */
  top: 1500px;
  /* Defines the skew origin at the very center when we apply transforms on the animation */
  transform-origin: 50% 100%;
  animation: crawl 65s linear;
}

@keyframes crawl {
  0% {
    /* The element starts below the screen */
    bottom: -100px;
    /* Rotate the text 20 degrees but keep it close to the viewer */
    transform: rotateX(50deg) translateZ(0);
  }
  100% { 
    /* This is a magic number, but using a big one to make sure the text is fully off the screen at the end */
    top: -6000px;
    /* Slightly increasing the rotation at the end and moving the text far away from the viewer */
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

@keyframes fadeIn {
  0% { opacity: 0;} /* Fully transparent, transparent background */
  100% { opacity: 1;} /* Fully visible, black background */
}
