
  /* Container for the welcome page */
  .welcome-container {
    width: 400px; /* Adjust width as needed */
    padding: 40px 0; /* Adjust padding as needed */
    border-radius: 8px;
    background-color: #ffffff; /* White background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    position: fixed; /* Position the container */
    top: 50%; /* Move the container 50% from the top */
    left: 50%; /* Move the container 50% from the left */
    transform: translate(-50%, -50%); /* Center the container */
  }
  
  /* Header */
  .welcome-container h1 {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }

  .welcome-container > div {
    font-style: italic;
  } 

  .h1-primary {
    font-size: 20px;
  }

  .h1-secondary {
    font-size: 60px;
  }