.route-link {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 30%;
    border: #32b473 1px dashed;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    margin: 5px;
    background-color: #f3f7f1;

    .route-item {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 5px;
    
        .route-primary {
            display: flex;
            width: 100%;
            justify-content: space-between;

            .route-details-primary {
                width: 60%;

                .star-rating-container {
                    display: flex;
                    flex-wrap: wrap;
                }

                .route-name {
                    font-family: 'abduction';
                }
            }

            .route-details-secondary {
                width: 30%;
                text-align: right;
            }
        }
        
        .route-secondary {
            font-size: 12px;
            margin-top: 20px;
        }
    }
}




.route-edit {
    margin-top: 25px;
}

.btn-secondary {
    margin: 3px;
}

.route-link {
    text-decoration: none;
    color: #32b473;
}
