.route-link {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 22%;
    height: 250px;
    border: #81938a 1px solid;
    box-shadow:  6px 4px 1px rgba(194, 124, 244, 0.918);
    border-radius: 8px;
    font-family: 'tahoma';
    margin: 15px;
    overflow: hidden;
    width: 100%;

    .route-container {
        width: 100%;
        height: 100%;
        
        .route-details {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            
            .route-details-primary {
                width: 100%;
                height: 100%;
                
                .image-container {
                    width: 100%;
                    height: 50%;
                    
                    img {
                        width: 100%;
                        height: fit-content;
                    }
                }

                .star-rating-container {
                    display: flex;
                    flex-wrap: wrap;
                    font-size: 20px;

                    .rating-item {
                        padding: 5px;
                    }
                }

                .route-name {
                    font-family: 'abduction';
                    color: #51ed6e;
                    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
                    font-size: 20px;
                    font-weight: 100;
                    padding-left: 5px;
                }

                .route-info {
                    padding-left: 5px;
                    color: #51ed6e;
                    font-size: 12px;
                }
            }

        }
        
    }
}




.route-edit {
    margin-top: 25px;
}

.btn-secondary {
    margin: 3px;
}

.route-link {
    text-decoration: none;
    /* color: #51ed6e; */

}
