.member-route-link {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 22%;
    height: 250px;
    border-right: rgba(253, 217, 100) solid 1px;
    border-bottom: rgba(253, 217, 100) solid 1px;
    background: linear-gradient(to right,#370063 5%, #280148 100%);
    box-shadow:  3px 3px 4px rgba(253, 217, 100, 0.75);
    border-radius: 8px;
    font-family: 'tahoma';
    margin: 15px;
    overflow: hidden;
    width: 100%;
    text-decoration: none;

    .member-route-container {
        width: 100%;
        height: 100%;
        
        .member-route-details {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            
            .member-route-details-primary {
                width: 100%;
                height: 100%;
                
                .member-image-container {
                    width: 100%;
                    height: 60%;
                    background-size: cover;
                }

                .member-star-rating-container {
                    display: flex;
                    flex-wrap: wrap;
                    font-size: 20px;

                    .member-rating-item {
                        padding-left: 10px;
                        padding-top: 5px;
                    }
                }

                .member-route-name {
                    font-family: 'rocket';
                    font-weight: 100;
                    color: #51ed6e;
                    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
                    font-size: 30px;
                    padding-left: 10px;
                    padding-top: 5px;
                    
                }

                .member-image-container {
                    padding-left: 5px;
                    color: #51ed6e;
                    font-size: 16px;
                }
            }

        }
        
    }
}




/* .route-edit {
    margin-top: 25px;
}

.btn-secondary {
    margin: 3px;
} */

