

.container-route-details {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #b7dbc9;


    .heading {
        font-size: 50px;
        font-family: 'abduction';
        text-shadow: 0 0 10px rgba(0, 0, 0, 1);
        padding-top: 50px;
        margin: 15px 0px 50px 30px;
        color: #f68732;
        
    }

    .route-details {
        display: flex;
        flex-direction: column;
        width: 80%;

        .details-container {
            display: flex;
            flex-direction: row;
            /* justify-content: center; */
            border: 1px rgb(183, 181, 181) solid;
            padding: 35px;
            margin: 0 0 25px 0;
            border-radius: 8px;
            background-color: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

            .route-image {
                display: flex;
                justify-content: center;
                /* background-color: #32b473; */
                width: auto;

                img {
                    height: 500px;
                }
            }
        }

        .route-information {
            width: auto;
            padding: 20px;

            .route-info {
                font-family: 'tahoma';
            }

            .star-rating-container {
                display: flex;
                flex-wrap: wrap;
                
            }
        }

        .route-buttons {
            display: flex;
            justify-content: center;
            width: 100%;

            button {
                width: 20%;
                height: 45px;
                margin: 20px;
                font-weight: 100;
                padding-top: 5px;
                background-color: rgba(162, 41, 248, 0.983);
                border: none;
                border-radius: 8px;
                color: #ffffff; /* White text color */
                font-family: 'abduction';
                font-size: 25px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
                text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }
            button:hover {
                color: #ffffff; /* White text color */
                font-size: 55px;
                text-shadow: 0 0 10px rgba(0, 0, 0, 1);
            }
        }

    }

    .route-activity {
        width: 80%;
        margin: 25px 0 50px 0;
        border: 1px rgb(183, 181, 181) solid;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        h4{
            font-size: 25px;
            font-family: 'abduction';
            color: #32b473;
        }

        .activity-container {
            margin: 20px;

            .activities {
                margin: 20px;

                .activity-item {
                    border-bottom: 1px lightseagreen solid;
                    padding-bottom: 15px;
                    padding-top: 15px;
                    font-family: 'tahoma';
                    font-size: 14px;
                }
            }
        }
        .comments-container {
            margin: 20px;
            
            .comments {
                margin: 20px;
                
                .comment-item {
                    border-bottom: 1px lightseagreen solid;
                    padding-bottom: 15px;
                    font-family: 'tahoma';
                    font-size: 14px;

                    .comment-user-name {
                        font-size: 15px;
                        padding-bottom: 5px;
                        padding-top: 15px;
                    }
                    .comment-user-comment {
                        font-family: 'Times New Roman', Times, serif;
                    }
                }
            }

            .comment-input {
                
                .comment-text-area {
                    width: 98%;
                    height: 100px;
                    border-radius: 8px;
                    font-family: 'tahoma';
                    font-size: 14px;
                    padding: 5px 10px;
                }

                .btn-comment-container {
                    display: flex;
                    justify-content: end;
                    padding-right: 5px;
                    padding-top: 5px;
                    
                    .btn-comment {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 35px;
                        width: 35px;
                        border: none;
                        border-radius: 8px;
                        background-color: rgba(162, 41, 248, 0.983);
                        color: #ffffff;
                        font-size: 25px;
                    }
                }


            }
        }
    }
}