.employee-route-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 22%;
    height: 250px;
    border-right: rgba(253, 217, 100) solid 1px;
    border-bottom: rgba(253, 217, 100) solid 1px;
    background: linear-gradient(to right,#370063 5%, #18002b 100%);
    box-shadow:  3px 3px 4px rgba(253, 217, 100, 0.75);
    border-radius: 8px;
    font-family: 'tahoma';
    margin: 15px;
    overflow: hidden;
    width: 100%;
    text-decoration: none;

    .employee-route-item {
        width: 100%;
        height: 100%;

        .employee-route-details {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .employee-route-details-primary {
                width: 100%;
                height: 100%;

                .employee-image-container {
                    width: 100%;
                    height: 60%;
                    background-size: cover;
                }
                .employee-route-information {
                    .employee-route-name {
                        font-family: 'rocket';
                        font-weight: 100;
                        color: #51ed6e;
                        text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
                        font-size: 30px;
                        padding-left: 10px;
                        padding-top: 5px;
                        letter-spacing: 1.5px;
                    }
                    .employee-route-info {
                        padding-left: 10px;
                        color: #51ed6e;
                        font-size: 16px;
                    }
                }
            }
            .employee-route-details-secondary {
                .employee-route-edit {
                    display: flex;
                    justify-content: end;

                    .employee-btn-edit {
                        margin: 3px;
                        background-color: #f68732;
                        border: none;
                        padding: 2px;
                        width: 80px;
                        color: #ffffff;
                        font-family: 'jedi-outline';
                        font-size: 18px;
                        border-radius: 8px;
                        
                    }
                    .employee-btn-delete {
                        margin: 3px;
                        background-color: #f68732;
                        border: none;
                        padding: 2px;
                        width: 80px;
                        color: #ffffff;
                        font-family: 'jedi-outline';
                        font-size: 18px;
                        border-radius: 8px;
                    }
                    button:hover {
                        font-family: 'jedi-solid';
                    }
                }
            }
        }
    }


    .employee-route-link {
        text-decoration: none;
        color: #32b473;
    }
}