.route-item {
    display: flex;
    flex-wrap: wrap;
    border: gray 1px dashed;
    border-radius: 10px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

.route-item-main {
    padding: 5px;
}

.route-item-secondary {
    margin-left: auto;
    padding: 5px;
}

.route-date {
    margin-left: 15px;
    color: red;
}

.route-edit {
    margin-top: 25px;
}

.btn-secondary {
    margin: 3px;
}

.route-link {
    text-decoration: none;
    color: darkgreen;
}

.like-tick-comment {
    width: 100%;
    padding-left: 5px;
    padding-top: 20px;
    font-size: 12px;
}