.route-item-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 30%;
    border: #32b473 1px dashed;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    margin: 5px;
    background-color: #f3f7f1;

    .route-item{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 5px;

        .route-details-primary {
            width: 80%;

            .route-name {
                font-family: 'abduction';
                color: #32b473;
                font-size: 18px;
            }

            .route-info {
                font-family: 'tahoma';
            }
        }

        .route-details-secondary {
            flex-direction: column;
            margin-left: auto;
            
            .route-date {
                color: rgba(162, 41, 248, 0.983);
                font-weight: bold;
                display: flex;
                justify-content: end;
            }
            .route-edit {
                display: flex;
                padding-top: 10px;

                .btn-edit {
                    margin: 3px;
                    font-family: 'tahoma';
                }
                .btn-delete {
                    margin: 3px;
                    font-family: 'tahoma';
                }
            }
        }
    }

    .route-link {
        text-decoration: none;
        color: #32b473;
    }
}