/* .star-rating {

    input[type=radio] {
        display: none;
    }
    
    .star {
        cursor: pointer;
        color: #e4e5e9;
    }
} */

.star-rating input[type=radio] {
    display: none;
}

.star-rating .star {
    cursor: pointer;
    color: #e4e5e9;
}
