
.container-member-home {
    width: 100vw;
    height: 100vh;

    background-image: url('/src/components/pictures/free-climbing-wall-vector.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;


    .heading {
        font-size: 75px;
        font-family: 'abduction';
        padding-top: 50px;
        margin: 15px 0px 100px 30px;
        color: #f68732;
    }

}





