
.filter-bar {
    display: flex;
    width: 100%;
    justify-content: center;
}

.route-search {
    width: 20%;
    height: 45px;
    margin: 20px;
    padding-top: 3px;
    padding-left: 10px;
    background-color: #560b93;
    border: none;
    border-radius: 8px;
    color: #ffffff; /* White text color */
    font-family: 'rocket';
    font-size: 25px;
    letter-spacing: 1.5px;
}

.route-search:active {
    font-size: 14px;
}