
.filter-bar {
    display: flex;
    width: 100%;
    justify-content: center;
}

.route-search {
    width: 20%;
    height: 45px;
    margin: 20px;
    padding-top: 3px;
    padding-left: 8px;
    background-color: rgba(162, 41, 248, 0.983);
    border: none;
    border-radius: 8px;
    color: #ffffff; /* White text color */
    font-family: 'abduction';
    font-size: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
