.profile-container {
    display: flex;
    border: 1px solid darkgreen;
    width: 60%;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    padding: 100px;
    border-radius: 10px;
}

.profile-picture {
    flex-basis: 20%;
}

.profile-information {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-basis: 60%;
}

img {
    height: 200px;
}

.user-name, .user-email {
    padding: 10px;
    font-size: 25px;
}

.user-info {
    font-weight: bold;
}