
body {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

@font-face {
  font-family: 'abduction';
  src: url('/src/components/fonts/abduction/abduction2002.ttf') format('truetype');
}  

@font-face {
  font-family: 'crackman';
  src: url('/src/components/fonts/crackman/CRACKMAN.ttf') format('truetype');
}

@font-face {
  font-family: 'mexcellent';
  src: url('/src/components/fonts/mexcellent/Mexcellent.ttf') format('truetype');
}

@font-face {
  font-family: 'mexcellent3D';
  src: url('/src/components/fonts/mexcellent3d/Mexcellent3D.ttf') format('truetype');
}

@font-face {
  font-family: 'rainydays';
  src: url('/src/components/fonts/rainy-days/RainyDays.ttf') format('truetype');
}

@font-face {
  font-family: 'rockitalic';
  src: url('/src/components/fonts/rock-italic/Rocket-Italic-2.otf') format('opentype');
}

@font-face {
  font-family: 'roundlight';
  src: url('/src/components/fonts/round-light/Round Light.ttf') format('truetype');
}


fieldset {
    border: none;
}