html {
  display: flex;
  width: 100%;
  height: 100%;
  /* padding: 0;
  margin: 0; */
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  /* padding: 0; */
  margin: 0;
}
  
#root {
  display: flex;
  width: 100%;
  height: 100%;
  /* padding: 0;
  margin: 0; */
}

.root-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main-navigation {
  display: flex;
  width: 100%;
}

.main-container {
 display: flex;
 justify-content: center;
 width: 100%;
 flex-grow: 1;
 
}


h1, h2, h3, h4 {
  font-weight: normal;
}

@font-face {
  font-family: 'abduction';
  src: url('/src/components/fonts/abduction/abduction2002.ttf') format('truetype');
}  

@font-face {
  font-family: 'crackman';
  src: url('/src/components/fonts/crackman/CRACKMAN.ttf') format('truetype');
}

@font-face {
  font-family: 'mexcellent';
  src: url('/src/components/fonts/mexcellent/Mexcellent.ttf') format('truetype');
}

@font-face {
  font-family: 'mexcellent3D';
  src: url('/src/components/fonts/mexcellent3d/Mexcellent3D.ttf') format('truetype');
}

@font-face {
  font-family: 'rainydays';
  src: url('/src/components/fonts/rainy-days/RainyDays.ttf') format('truetype');
}

@font-face {
  font-family: 'jedi-solid';
  src: url('/src/components/fonts/star_jedi/starjedi/Starjedi.ttf') format('truetype');
}
@font-face {
  font-family: 'jedi-outline';
  src: url('/src/components/fonts/star_jedi/starjedi/Starjhol.ttf') format('truetype');
}
@font-face {
  font-family: 'jedi-solid-outline';
  src: url('/src/components/fonts/star_jedi/starjout/Starjout.ttf') format('truetype');
}
@font-face {
  font-family: 'jedi-bold';
  src: url('/src/components/fonts/star_jedi/stjedise/STJEDISE.TTF') format('truetype');
}

@font-face {
  font-family: 'roundlight';
  src: url('/src/components/fonts/round-light/Round Light.ttf') format('truetype');
}
@font-face {
  font-family: 'rocket';
  src: url('/src/components/fonts/rock-italic/rocket.otf') format('opentype');
}


fieldset {
    border: none;
}