.login-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-image: url('https://lumiere-a.akamaihd.net/v1/images/star-wars-backgrounds-25_bc15ec98.jpeg');
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  animation: fadeIn 0.7s ease-in-out forwards;
  animation: fadeOut 1s ease-in-out forwards;
  }

  
  .auth-container {
    display: flex;
    margin: auto;
    width: 80%;
    height: 85%;
    align-items: center;
    justify-content: center;
    /* background: radial-gradient(circle, #000000 10%,#000000d0 25%, #0000006d 40%, #00000000 100%); */
  


    .auth-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 25px;


      .auth-form {
        width: 250px;
        padding: 10px;
        border-radius: 8px;
        



        .auth-fieldset {


          .auth-form-input {
            width: 88%;
            padding: 15px;
            margin-bottom: 5px;
            margin-right: 10px;
            border: 1px solid #ced4da; /* Light gray border */
            border-radius: 8px;
            font-family: 'tahoma';
            font-size: 14px;
          }
        }
      }
    }

    
    /* this is the main writing on the right side of the landing page */
    .landing {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: end;
      font-family: 'rocket';

      .landing-one {
        display: flex;
        text-align: center;
        color:rgb(162, 41, 248);
        text-shadow: 2px 2px 4px rgba(253, 217, 100, 0.75);
        font-size: 170px;
        margin: auto;
      }
      .auth-logo {
        margin: 20px;
        color: #32b473;
        font-family: 'jedi-outline';
        font-size: 50px;
    
        span {
          color: #4bf15c;
        }
    }
  }
}


/* Submit button */
.auth-form button {
  width: 100%;
  height: 45px;
  margin: 25px auto;
  padding: 10px;
  font-weight: 100;
  padding-top: 5px;
  background-color: #560b93;
  border: none;
  border-radius: 8px;
  color: #ffffff; /* White text color */
  font-family: 'jedi-outline';
  font-size: 20px;
}

.auth-form button:hover {
  color: #ffffff; /* White text color */
  font-size: 40px;
  font-family: 'jedi-solid';
  text-shadow: 0 0 5px #380860;
  line-height: 0px;
}







/* Register link */
.register-link {
  text-align: center;
  margin-top: 20px;
  font-family: 'tahoma';
  font-size: 14px;
}

.register-link a {
  color:#32b473;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}





@keyframes fadeOut {
  0% { opacity: 1;} /* Fully visible, black background */
  100% { opacity: 0;} /* Fully transparent, transparent background */
}

@keyframes fadeIn {
  0% { opacity: 0;} /* Fully transparent, transparent background */
  100% { opacity: 1;} /* Fully visible, black background */
}

.login-page.fade-out {
  animation: fadeOut 1s ease forwards;
}

.login-page.fade-in {
  animation: fadeIn 0.7s ease forwards;
}

