.login-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  background-image: url('/src/components/pictures/free-climbing-wall-vector.png');
  background-size: cover;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;

  .auth-logo {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin: 20px;
    /* color: #f68732; */
    color: rgb(80, 240, 149);
    font-family: 'abduction';
    font-size: 50px;

    span {
      color: #b7dbc9;

    }
  }

  .auth-container {
    display: flex;
    margin: 5px auto auto auto;
    width: 80%;
    height: 85%;
    align-items: center;
    background-color: #e7f0ece1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 8px;


    .auth-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 25px;


      .auth-form {
        width: 250px;
        padding: 10px;
        border-radius: 8px;
        



        .auth-fieldset {


          .auth-form-input {
            width: 88%;
            padding: 15px;
            margin-bottom: 5px;
            margin-right: 10px;
            border: 1px solid #ced4da; /* Light gray border */
            border-radius: 8px;
            font-family: 'tahoma';
            font-size: 14px;
          }
        }
      }
    }

    
    /* this is the main writing on the right side of the landing page */
    .landing {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'abduction';

      .landing-one {
        color:#f68732;
        /* color:  #32b473; */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
        font-size: 110px;
        margin: 25px;
        font-weight: 100;
      }
    }
  }
}


/* Submit button */
.auth-form button {
  width: 100%;
  height: 45px;
  margin: 5px auto;
  font-weight: 100;
  padding-top: 5px;
  background-color: rgba(162, 41, 248, 0.983);
  border: none;
  border-radius: 8px;
  color: #ffffff; /* White text color */
  font-family: 'abduction';
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.auth-form button:hover {
  color: #ffffff; /* White text color */
  font-size: 50px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}







/* Register link */
.register-link {
  text-align: center;
  margin-top: 20px;
  font-family: 'tahoma';
  font-size: 14px;
}

.register-link a {
  color:#32b473;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
